In [ ]:
x=4

In [ ]:
x=x+x

In [ ]:
x

8

In [ ]:
'tanu'

'tanu'

In [ ]:
"tanu"

'tanu'

In [ ]:
print ('tanu')

tanu

In [ ]:
print("tanu")

tanu

In [ ]:
1+1

2

In [ ]:
1**56

1

In [ ]:
2**6

64

In [ ]:
x=18
y='tanu'

In [ ]:
'my age is {} and my name is {}'.format (x,y)

'my age is 18 and my name is tanu'

In [ ]:
s='tanu'

In [ ]:
s[0]

't'

In [ ]:
print(s[0])

t

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
1>2

False

In [ ]:
1>=1

True

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x=[1,2,3,4]

In [ ]:
[num**2 for num in x ]

[1, 4, 9, 16]

In [ ]:
array=[1,2,3]

In [ ]:
array[0]

1

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
lable=['a','b','c']
my_list=[10,20,30]

In [ ]:
arr=np.array(my_list)
d={'a':10, 'b':20, 'c':30}

In [ ]:
lable

['a', 'b', 'c']

In [ ]:
my_list

[10, 20, 30]

In [ ]:
d

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
arr

array([10, 20, 30])

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=lable)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(lable)

0    a
1    b
2    c
dtype: object

In [ ]:
ser1=pd.Series(data=[1,2],index=['tanu','manu'])

In [ ]:
ser1

tanu    1
manu    2
dtype: int64

In [ ]:
ser1['tanu']

1

In [ ]:

arr

array([10, 20, 30])

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

NameError: ignored

In [ ]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [ ]:
type(df['w'])

pandas.core.series.Series

In [ ]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [ ]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [ ]:
df['new']=df['w']+df['y']

In [ ]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df.drop('new', axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop('w',axis=1)

          x         y         z       new
a  0.628133  0.907969  0.503826  3.614819
b -0.319318 -0.848077  0.605965 -0.196959
c  0.740122  0.528813 -0.589001 -1.489355
d -0.758872 -0.933237  0.955057 -0.744542
e  1.978757  2.605967  0.683509  2.796762

In [ ]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
df.drop('new', axis=1,inplace=True)

In [ ]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop('e',axis=0)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df.shape

(5, 4)

In [ ]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [ ]:
 df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [ ]:
df.iloc[2
      ]

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [ ]:
df.loc['b','y']

NameError: ignored

In [ ]:
df.loc[['a','b'], ['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077